*{
    margin: 0;
    padding: 0;
}
#navbar-sticky{
    background-color: black;
    display: flex;
    font-family: 'Bungee Shade', cursive;
    color: white;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
}
#elemento0{
   margin-left: 1%;
} 
#nav-bar{
    display: flex;
    margin-left: 50%; 
    margin-top: 1%;   
    color: white;
}
#elemento1{ 
  margin-left: 8%;
}
#elemento1:hover{
    color: rgb(160, 159, 159);
}
#elemento2{
    height: 95vh;
    background-image: url(https://img.redbull.com/images/c_limit,w_1500,h_1000,f_auto,q_auto/redbullcom/2018/07/10/4f0eb2e5-f6fa-4ca6-98ff-29a0701516ea/mtb-collection);
    background-size: cover ;
    background-repeat: no-repeat;
    font-family: 'Bungee Shade', cursive;
}
#elemento3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
#p1{
    padding-top: 20%;
    padding-left: 5%;
    font-size: 2rem;
    color: rgb(0, 0, 0);
}
#cartas{
    width: 70%;
    text-align: center;
    border: 2px solid black;
    margin: 10%;
    font-family:'Montserrat', sans-serif;
}
#cartas:hover{
    box-shadow: 10px 10px black;
}
#cartas h2{
    font-family:'Bungee Shade', cursive ;
}
#cartas h3{
    font-family: 'Bungee Shade', cursive;
}
#imagenesCartas{
    width: 100%;
}
#botonesCartas{
    display: flex;
    justify-content: center;
    margin: 5%;
}
#botonesCartas button{
    margin-left: 10%;
    width: 30%;
    font-family:'Montserrat', sans-serif;
    color: white;
    background-color: black;
}
#elemento4{
    background-color: grey;
}
#elemento4 h2{
    text-align: center;
    font-family:'Bungee Shade', cursive;
}
#carrito{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family:'Montserrat', sans-serif;
}
.ladoIzquierdo{
    text-align: right;
    padding-right: 5px;
}
#biciNombre{
    width: 200px;
    font-size: 20px;
    background-color: white;
    border: solid 2px black;
    margin: 2px;
    color: black;
}
#precio{
    width: 200px;
    font-size: 20px;
    background-color: white;
    border: solid 2px black;
    margin: 2px;
    color: black;
}
#costosEnvio{
    width: 200px;
    font-size: 20px;
    background-color: white;
    border: solid 2px black;
    margin: 2px;
    color: black;
}
#subtotal{
    width: 200px;
    font-size: 20px;
    background-color: white;
    border: solid 2px black;
    margin: 2px;
    color: black;
}
#botonConfirmar{
    width: 20%;
    font-family:'Montserrat', sans-serif;
    color: white;
    background-color: black;
    font-size: 20px;
}
#anuncioI{
    display: none;
}
table{
    width: 50%;
    margin-left: 25%;
    margin-top: 30px;
    margin-bottom: 30px;
    border: solid 2px black;
    display: none;
}
table th{
    border: solid 2px black;
}
table td{
    border: solid 2px black;
}
thead{
    background-color: black;
    color: white;
    text-align: center;
    font-family:'Bungee Shade', cursive ;
    font-size: larger;
}
tbody{
    background-color: black;
    color: white;
    text-align: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}
#borrarImg{
    width: 30%;
}
#borrarImg:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
#tableImg{
    width: 50%;
}
#elemento5{
    background-color: grey;
    display: none;
}
#elemento5 h2{
    text-align: center;
    font-family:'Bungee Shade', cursive;
}
#datosConfirmar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family:'Montserrat', sans-serif;
}
#ladoIzquierdo1{
    text-align: right;
    padding-right: 10px;
}
#ladoIzquierdo1-d{
    text-align: right;
    padding-right: 10px;
}
#dropdown1{
    width: 200px;
    font-size: 20px;
}
#botonE{
    width: 20%;
    font-family:'Montserrat', sans-serif;
    color: white;
    background-color: black;
    font-size: 17.5px;
    margin-bottom: 5px;
}
#botonR{
    width: 20%;
    font-family:'Montserrat', sans-serif;
    color: white;
    background-color: black;
    font-size: 17.5px;
    display: visible;
}
#nombreApellido{
    width: 200px;
    font-size: 20px;
    background-color: white;
    border: solid 2px black;
    margin: 2px;
    color: black;
}
#direccion{
    width: 200px;
    font-size: 20px;
    background-color: white;
    border: solid 2px black;
    margin: 2px;
    color: black;
}
#numeroTelefono{
    width: 200px;
    font-size: 20px;
    background-color: white;
    border: solid 2px black;
    margin: 2px;
    color: black;
}
#botonConfirmar{
    width: 20%;
    font-family:'Montserrat', sans-serif;
    color: white;
    background-color: black;
    font-size: 20px;
}
#elemento6{
    margin: 5%;
    text-align: center;
}
#confirmacionNombre{
    font-family: 'Bungee shade', cursive;
}
#confirmacionDN{
    font-family:'Montserrat', sans-serif;
    font-size: 20px;
}
footer{
    background-color: black;
    height:5vh ;
}
